#   Script programming assignment 07

#### Q1. Alcohol consumption
#### 코드블록 내에 주어진 문제에 맞게 코드를 작성하시오. (Q1-2부터 Q1-6까지 groupby 함수 사용)

In [5]:
#Q1-0. 'Alcohole consumption' Dataset을 dataframe 형태로 drinks 변수에 할당하시오. 

import pandas as pd
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

In [9]:
#Q1-1. Dataframe의 top 5 line을 출력하시오.
drinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
#Q1-2. 각 대륙(continent)별로 평균 맥주 소비량(beer_servings)을 출력하시오.

In [ ]:
#Q1-3. 각 대륙별 와인 소비량(wine_servings) 통계를 출력하시오.

In [ ]:
#Q1-4. 모든 열에 대해 대륙별 평균 알코올 소비량을 출력하시오.

In [ ]:
#Q1-5. 모든 열에 대해 대륙별 알코올 소비량 중앙값을 출력하시오.

In [ ]:
#Q1-6. 대륙별 스피릿 소비량(spirit_servings)의 평균, 최소값 및 최대값을 출력하시오.


#Q1 End

#### Q2.  Fictitious Names
#### 코드블록 내에 주어진 문제에 맞게 코드를 작성하시오.

In [ ]:
#Q2-0. 아래 딕셔너리를 이용해 dataframe을 만드시오.

import pandas as pd
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns = ['subject_id','test_id'])

In [ ]:
#Q2-1. data1, data2를 행을 따라 연결하여 all_data라는 변수에 할당하고 출력하시오.

In [ ]:
#Q2-2. data1, data2를 열을 따라 연결하여 all_data_col 변수에 할당하고 출력하시오.

In [ ]:
#Q2-3. all_data와 data3를 subject_id 값을 따라 병합(merge)하여 출력하시오.

In [ ]:
#Q2-4. data1, data2에서 'subject_id'가 동일한 데이터만 병합하여 출력하시오.

In [ ]:
#Q2-5. 가능한 경우 양쪽의 일치하는 레코드를 사용하여 data1, data2의 모든 값을 병합하여 출력하시오. 

#Q2 End

#### Q3. United States - Crime Rates - 1960 - 2014 dataset
#### 코드블록 내에 주어진 문제에 맞게 코드를 작성하시오.

In [ ]:
#Q3 United States - Crime Rates - 1960 - 2014 dataset
#Q3-0. 아래 url을 통해 파일을 읽으시오.
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)

In [ ]:
#Q3-1. Dataframe의 top 7 line을 출력하시오.

In [ ]:
#Q3-2. Year 열의 자료형을 datetime64로 변환하여 출력하시오.

In [ ]:
#Q3-3. Year 열을 데이터 프레임의 인덱스로 하여 출력하시오.

In [ ]:
#Q3-4. crime 변수의 Total 열을 삭제하시오.

In [ ]:
#Q3-5. resample을 이용하여 year 열을 10년 단위로 grouping하여 sum하시오. (crime.resample('10AS'))
# To learn more about .resample (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)



#Q3 End

#### Q4. Occupation
#### 코드블록 내에 주어진 문제에 맞게 코드를 작성하시오.

In [ ]:
#Q4 Occupation
#Q4-0. 아래 url을 통해 파일을 읽으시오.
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users.head()

In [ ]:
#Q4-1. Dataframe의 top 7 line을 출력하시오.

In [ ]:
#Q4-2. 각 직업별 평균 연령을 출력하시오.

In [ ]:
#Q4-3. gender 열을 아래에 정의된 gender_to_numeric(x) function을 이용해 'gender_n'이라는 컬럼으로 추가하여 아래 코드를 실행하시오.


def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
#Q4-3 start



#Q4-3 End

a = users.groupby('occupation').gender_n.sum() / users.occupation.value_counts() * 100 
a.sort_values(ascending = False)

#Q4 End